.block_serials_search .search-field {
    width: 60%;
}

.block_serials_search .advanced-link {
    margin-left: 1px;
}

.block_serials_search .footer {
    margin-top: 5px;
    text-align: center;
}

.block_serials_search .footer img {
    margin-right: 3px;
    position: relative;
    top: 6px;
}
